* {
    font-family: 'poppins',Sans-serif,Arial, Helvetica;
    padding: 0;
    margin: 0;
}
/*NAVIGATION BAR */
.nav {
    background-color: #24282d;
}
.nav ul{
    padding: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav ul li{
    padding: 10px 20px;
}
.nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.nav a:hover {
    color:#14f6f3;
}
.nav ul li:hover{
    background-color: #015d56;
    transition: 0.9s;
}
/* MAIN IMAGE */
.M_mainimg{
    width: 100%;
    height: 600px;
}
.D_mainimg{
    display: none;
}
.middescription{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center; 
    margin-left: 0%;
    margin-right: 0%;
    background-color: white;    
}
.middescription section{
    width: 30%;
    margin-top: 30px;
}
.middescription h1 {
    text-align: center;
    font-size: 25px;
    color: #313131;
}

.middescription p {
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
    line-height: 25px;
}

.middescription img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
}
.middescription hr{
    width: 350px;  
    background-color: #808080 ;
    height: 1.5px;
}
.sec2 h2{
    padding: 40px;
}

/* FLEX STYLING */
.container-1{
    display: flex;
}
.box1, .box2{
    border: hidden;
    padding: 76.5px;
}
/* MAP STYLING */
iframe{
    width:300px;
    height: 200px;
    border:none;
    padding: 40px;
}
/* FOOTER */
.mainfooter h3 {
    color: black;
    text-align: center;
    background-color: #a6b3c7;
}

    .footer3 {
        background-color: black;
        color: white;
        font-size: 11px;
        text-align: center;
        height: 50px;
    }

    .contact {
        line-height: 25px;
        text-align: center;
        color: black;
        background-color: #a6b3c7;
    }
/* ANIMATION */
body,
.middescription {
    background-color: white;
    animation-name: colorchange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes colorchange{
    0% {background-color:#a6b3c7;}
    50% {background-color:#667882;}
    100% {background-color:#a6b3c7;}
}
@media only screen and (max-width: 800px) {
    .nav ul {
        height: 260px;
        flex-direction: column;
        text-align: center;
    }
}
@media only screen and (min-width: 769px) {
    .M_mainimg {
        display: none;
    }

    .D_mainimg {
        width: 80%;
        display: block;
        margin-left: 10%;
        margin-right: 10%;
    }

    .middescription {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        margin-left: 10%;
        margin-right: 10%;
        background-color: white;
    }

    .middescription section {
        width: 30%;
        margin-top: 30px;
    }
}